/*
 * Globals
 */

.navbarEzFac{
background-color: #333333;
border-color: transparent;
}

a.navbar-brand.active{
	color: white;
	text-decoration: underline;
	font-weight: bold;
}

a.navbar-brand.brandName{
	color: white;
	font-weight: bold;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+26,474747+82,404040+87,626262+100 */
background: rgb(51,51,51); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(51,51,51,1) 26%, rgba(71,71,71,1) 82%, rgba(64,64,64,1) 87%, rgba(98,98,98,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 26%,rgba(71,71,71,1) 82%,rgba(64,64,64,1) 87%,rgba(98,98,98,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(51,51,51,1) 26%,rgba(71,71,71,1) 82%,rgba(64,64,64,1) 87%,rgba(98,98,98,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#626262',GradientType=0 ); /* IE6-9 */

}

.homeTitleContent{
	color:white;
	text-align:center;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.wrapper {
    text-align: center;
}

#ezfac {
	background-color:#333333;
	color:white;
}

span.custom-ok{
	color:green;
	font-size:2em;
}

span.custom-remove{
	color:red;
	font-size:2em;
}

body {
	padding-top:65px;
}

@media (min-width: 979px) {

  #midCol.affix-top {
      position:fixed;
  	  width:265px;
  	  margin-right:10px;
  }
  
  #midCol.affix {
      position:static;
      width:100%;
  }

}

@media (min-width: 767px) {
  .affix,.affix-top {
      position:fixed;
  }
}

#sidebar {
  margin: 0 auto;
  height: 100%;
}
}
