<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:web="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">


	 <servlet>
	 	<servlet-name>Test</servlet-name>
	 	<servlet-class>servlet.Test</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>Test</servlet-name>
	 	<url-pattern>/toto</url-pattern>
	 </servlet-mapping>
	 <servlet>
	 	<servlet-name>Example</servlet-name>
	 	<servlet-class>servlet.Example</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>Example</servlet-name>
	 	<url-pattern>/example</url-pattern>
	 </servlet-mapping>
	 <servlet>
	 	<servlet-name>TeamPage</servlet-name>
	 	<servlet-class>servlet.TeamPage</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>TeamPage</servlet-name>
	 	<url-pattern>/team</url-pattern>
	 </servlet-mapping>
	 <!--Webjars Servlet-->
<servlet>
    <servlet-name>WebjarsServlet</servlet-name>
    <servlet-class>org.webjars.servlet.WebjarsServlet</servlet-class>
    <init-param>
        <param-name>disableCache</param-name>
        <param-value>true</param-value>
        <load-on-startup>2</load-on-startup>
    </init-param>
</servlet>
</web-app>
