<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	 <servlet>
	 	<servlet-name>Test</servlet-name>
	 	<servlet-class>servlet.Test</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>Test</servlet-name>
	 	<url-pattern>/toto</url-pattern>
	 </servlet-mapping>
	 <servlet>
	 	<servlet-name>Home</servlet-name>
	 	<servlet-class>servlet.Home</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>Home</servlet-name>
	 	<url-pattern></url-pattern>
	 </servlet-mapping>
	 <servlet>
	 	<servlet-name>Example</servlet-name>
	 	<servlet-class>servlet.Example</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>Example</servlet-name>
	 	<url-pattern>/example</url-pattern>
	 </servlet-mapping>
	 <servlet>
	 	<servlet-name>TeamPage</servlet-name>
	 	<servlet-class>servlet.TeamPage</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>TeamPage</servlet-name>
	 	<url-pattern>/team</url-pattern>
	 </servlet-mapping>
	 <servlet>
	 	<servlet-name>ProjectPage</servlet-name>
	 	<servlet-class>servlet.ProjectPage</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>ProjectPage</servlet-name>
	 	<url-pattern>/project</url-pattern>
	 </servlet-mapping>
	 <servlet>
	 	<servlet-name>GestionAPIInfo</servlet-name>
	 	<servlet-class>servlet.GestionAPIInfo</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>GestionAPIInfo</servlet-name>
	 	<url-pattern>/api_info</url-pattern>
	 </servlet-mapping>
  <!--Webjars Servlet -->
	  <servlet>
	    <servlet-name>WebjarsServlet</servlet-name>
	    <servlet-class>org.webjars.servlet.WebjarsServlet</servlet-class>
	    <init-param>
	        <param-name>disableCache</param-name>
	        <param-value>true</param-value>
	    </init-param>
	    <load-on-startup>2</load-on-startup>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>WebjarsServlet</servlet-name>
	    <url-pattern>/webjars/*</url-pattern>
	  </servlet-mapping>
</web-app>
